.matte-Loading-dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #b3b3b3;
    background-color: #d9d9d9;
}

.matte-Loading--loading .matte-Loading-dot {
    -webkit-animation: matte-Loading .9s 0s steps(1) infinite;
       -moz-animation: matte-Loading .9s 0s steps(1) infinite;
        -ms-animation: matte-Loading .9s 0s steps(1) infinite;
         -o-animation: matte-Loading .9s 0s steps(1) infinite;
            animation: matte-Loading .9s 0s steps(1) infinite;
}

.matte-Loading-dot:nth-child(2) { 
    -webkit-animation-delay: .3s;
       -moz-animation-delay: .3s;
        -ms-animation-delay: .3s;
         -o-animation-delay: .3s;
            animation-delay: .3s;
}
.matte-Loading-dot:nth-child(3) {
    -webkit-animation-delay: .6s;
       -moz-animation-delay: .6s;
        -ms-animation-delay: .6s;
         -o-animation-delay: .6s;
            animation-delay: .6s;
}

@-webkit-keyframes matte-Loading { 66.667% { background-color: #b3b3b3; } }
   @-moz-keyframes matte-Loading { 66.667% { background-color: #b3b3b3; } }
    @-ms-keyframes matte-Loading { 66.667% { background-color: #b3b3b3; } }
     @-o-keyframes matte-Loading { 66.667% { background-color: #b3b3b3; } }
        @keyframes matte-Loading { 66.667% { background-color: #b3b3b3; } }
