
.matte-Flow {
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}
.matte-Flow-camera,
.matte-Flow-Repetition {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}
.matte-Flow-Repetition .no-transition,
.matte-Flow-Repetition .no-transition * {
    -webkit-transition: none !important;
}
.matte-Flow-Repetition > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
}
.matte-Flow-Slot {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
}
