.matte-LoadingPanel {
    position: absolute;
    /* TODO: z-index management */
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.matte-LoadingPanel-counter {
    position: absolute;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin: -60px;
    padding: 10px;
    border-radius: 60px;
    color: #555;
    font: 24px/100px "Helvetica Neue", Helvetica, Geneva, sans-serif;
    text-align: center;
    border: 1px solid #b3b3b3;
    background-color: #d9d9d9;
    white-space: nowrap;
}

.matte-LoadingPanel-divider {
    color: #b3b3b3;
}


/* Progress
 * disabled for now, because the loading doesn't really look continuos enough.
 */

.matte-LoadingPanel .matte-LoadingPanel-progress {
    width: 200px;
    margin: 20px;
    display: none; 
}
