.matte-InputNumber {
    display: inline-block;
}

.matte-InputNumber > .matte-InputNumber-input {
    height: 2.5em !important;
    display: inline-block;
}

.matte-InputNumber > .matte-InputNumber-plus,
.matte-InputNumber > .matte-InputNumber-minus {
}